@charset "UTF-8";
body{
    background-color: rgb(255, 233, 136);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(116, 54, 9)
}
a{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    font-family: Papyrus;
    font-size: 200%;
    color: rgb(66, 30, 4);
}
p{
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(54, 25, 5);
    font-size: large; 
}